html,
body {
  margin: 0;
  padding: 0;
  
  
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
 
  font-size: 16px;
}

header{
  background-color:#D5D4D8 ;
  
  text-align: center;
}
h2{
  margin-top:0;
  margin-bottom:1%;
  
  font-size: 50px;
  padding:50px 0 10px 0;
}
.heading
{
    
    font-size: 30px;
    padding-bottom:20px;
}
.invoicebtns
{   margin-top:12%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.button {
    background-color: #FFFFFF; /* white */
    border: 1px solid #D5D4D8;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    border-radius:12px;
  }
  .button:hover {
    background-color: #D5D4D8;
  }
    section{
        margin-left: 10%;
        width:80%;
    }
  
  .task{
      margin-top: 2%;
      display:flex;
 
    color:darkgrey;
    
    
    justify-content: space-between;
    
    font-size: larger;
  }
  .bill
  {
      margin-top:1%;
      display:flex;
      color:black;
     
      justify-content: space-between;
    font-weight: bold;
      
  }
  .bar{
    
    
      border-top: 1px solid  #D5D4D8;
  }
 .sendbtn{
    background-color: #3770ED; /* blue*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4%;
    width:90%;
 }